<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
    <h1>User Details</h1>
    <div th:replace="admin/fragments/navigation :: navigation"></div>

    <table>
        <tr>
            <td>ID:</td>
            <td th:text="${user.id}"></td>
        </tr>
        <tr>
            <td>Username:</td>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td th:text="${user.email}"></td>
        </tr>
        <tr>
            <td>Enabled:</td>
            <td th:text="${user.enabled}"></td>
        </tr>
    </table>

    <a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Edit User</a><br>
    <a th:href="@{/admin/users}">Back to User List</a>
</body>
</html>